[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
[submodule "shells/z"]
	path = shells/z
	url = https://github.com/rupa/z.git
[submodule "editors/vim"]
	path = editors/vim
	url = https://github.com/huynle/vim-config.git
[submodule "src/dev/ninja"]
	path = src/dev/ninja
	url = https://github.com/ninja-build/ninja.git
	branch = release
[submodule "src/dev/tmux"]
	path = src/dev/tmux
	url = https://github.com/tmux/tmux.git
