"*":
  "atom-beautify":
    general:
      _analyticsUserId: "85846eb4-8d05-434e-b61f-f27a476282ca"
  "autocomplete-python": {}
  "autohide-tree-view":
    showDelay: 100
    triggerAreaSize: 1
  build:
    saveOnBuild: true
    scrollOnError: true
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "styleguide"
      "language-gfm"
      "open-on-github"
      "timecop"
      "package-generator"
      "terminal-plus"
      "highlight-selected"
      "linter"
      "minimap"
      "minimap-autohide"
      "markdown-preview-plus"
      "sync-settings"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "tab-switcher"
    ]
    projectHome: "C:\\Users\\hle\\Documents\\Projects"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    preferredLineLength: 100
    showIndentGuide: true
    softTabs: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "827766e1-025a-8847-3bff-62a6efc42286"
  "file-icons":
    coloured: false
  "git-plus":
    general:
      _analyticsUserId: "9ba89964-ea86-4aa3-8cf1-255e2919bfd2"
  linter: {}
  "linter-markdown":
    detectIgnore: false
  "linter-ui-default":
    useBusySignal: false
  "markdown-preview-plus": {}
  "markdown-writer":
    fileExtension: ".md"
  minimap:
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "one-o-eight-syntax":
    backgroundVariant: "Dark"
  "platformio-ide":
    advanced:
      showPlatformIOFiles: true
    showHomeScreen: false
  "platformio-ide-terminal":
    core: {}
    toggles:
      autoClose: true
  "project-manager":
    alwaysOpenInSameWindow: true
    includeGitRepositories: true
    prettifyTitle: false
    savePathsRelativeToHome: true
    sortBy: "last modified"
  "python-debugger": {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
    ]
  "sync-settings":
    _analyticsUserId: "e8ab0496-ed5d-40df-91bf-48926be1aa7a"
    _lastBackupHash: "477d8db31b28f25f8eb26584e930988ac60a166a"
    gistId: "177b31109db0403cdc842f4c60f8d000"
    personalAccessToken: "50ed2b8528cdca8c48567d3df07c19a3dd173bfd"
  "terminal-plus":
    core:
      autoRunCommand: "source ~/.bashrc"
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    position: "Left"
  "tree-view": {}
  welcome:
    showOnStartup: false
